<ion-view>
  <ion-nav-title>修改密码</ion-nav-title>
  <ion-content id="changepass">
    <form name="myForm" novalidate>
      <div style="border-bottom: 1px solid #ddd">
        <span>输入新密码：</span>
        <input type="password" name="first" maxlength="25" ng-model="ctrlScope.first" pattern="^[A-z].*" required>
        <span ng-show="myForm.first.$dirty && myForm.first.$invalid" style="color: red;padding: 0 20px">密码请以字母开头</span>
      </div>
      <div style="border-bottom: 1px solid #ddd">
        <span>验证新密码：</span>
        <input type="password" maxlength="25" ng-model="ctrlScope.second">
      </div>
      <button ng-click="changePassword()" ng-disabled="myForm.first.$dirty && myForm.first.$invalid || myForm.first.$error.required" >
        确&nbsp;定
      </button>
    </form>
  </ion-content>
</ion-view>
