<ion-view>
  <ion-nav-title>关于</ion-nav-title>
  <ion-content>
    <div id="about-container" style="width: 100%;background-color: #f0eff5;text-align: center; color: #87868b">
      <img src="img/about-icon.png" style="margin-top: 25%;width: 100px;height: 100px"/>
      <p style="margin-top: 10px">智慧粮仓&nbsp;&nbsp;{{version}}</p>
      <p style="position: absolute;top: 79%;margin-left: 32%">天津富粮科技有限公司</p>
      <p style="position: absolute;top: 83%;margin-left: 43%">版权所有</p>
      <p style="position: absolute;top: 87%;margin-left: 4%">{{copyRight}}</p>
    </div>
  </ion-content>
</ion-view>
