<ion-view hide-nav-bar={{hide}} cache-view="false">
    <ion-nav-title>预警确认</ion-nav-title>
    <ion-content id="confirmwarn">
        <div class="page-title" id="confirmTitle" style="padding-top:3px;padding-bottom: 15px;display: {{display}}">
            <img src="img/icon-white-arrow-left.png"
                 style="position: relative;top: 10px;margin-left: 10px"
                 ng-click="back()"/>
            <span style="display: inline-block;font-size: 18px;margin-left: 30%">预警确认</span>
        </div>
        <div>
            <img src="img/risk-icon-confirmwarn.png" width="120px" height="120px"
                 style="float:left;position: relative;left: 20px;top: 30px"/>
            <p style="float: left;margin-left:165px;padding-right:8px;width: 50%;margin-top: -80px">{{detail}}</p>
            <div style="background-color: #cdcdcd;padding: 10px;height: 85px;clear: both">
                <button class={{buttonClass}} ng-click="confirm()" id="confirm">{{buttonText}}
                </button>
                <p style="float:right;margin-right:-80px;color: gray;margin-top: 50px;display:{{confirmDisplay}}">{{confirmPerson}}</p>
            </div>
        </div>
       <div id="warn-detail">
         <div ng-repeat="type in warnType">
           <p>
             <span>&nbsp;&nbsp;</span>
             <span>{{type[0].warnName}}&nbsp;:&nbsp;&nbsp;{{type.length}}</span>
             <i class={{moreIcon[$index]}} ng-click="showMore($index)"></i>
           </p>
           <table>
             <tr ng-show="more[$index]" style="background-color: #108578">
               <td style="color: white">层数</td>
               <td style="color: white">排数</td>
               <td style="color: white">杆号</td>
               <td style="color: white">类型</td>
               <td style="color: white">温度</td>
             </tr>
             <tbody ng-show="more[$index]">
             <tr ng-repeat="item in type">
               <td>{{item.depth}}</td>
               <td>{{item.x}}</td>
               <td>{{item.y}}</td>
               <td>{{item.warnName}}</td>
               <td>{{item.temperature}}</td>
             </tr>
             </tbody>
           </table>
         </div>
       </div>
    </ion-content>
</ion-view>
