<ion-view hide-back-button="false">
  <ion-nav-title>历史数据汇总</ion-nav-title>
  <ion-content id="line">
    <div style="background-color: #f1f1f1;margin-top: 0;margin-left: 0;padding-bottom: 20px">
      <div>
        <img src="img/table-line/table-line-sum-icon.png" width="22px" height="22px"/>
        <span>汇总类型</span>
      </div>
      <div style="margin-left: 26%">
        <img src="img/table-line/table-line-barn-icon.png" width="22px" height="22px"/>
        <span>仓号</span>
      </div>
      <br/>
      <div class="select" style="background-color: white;" ng-click="openChartPopover($event)">
        <input type="button" value={{chart}}>
        <img src="img/table-line/arrow-down.png" width="22px" height="16px"
             style="padding-left: 5px"/>
      </div>
      <div class="select" style="margin-left: 9%;background-color: white;" ng-click="openBarnPopover($event)">
        <input type="button" value={{barn}}>
        <img src="img/table-line/arrow-down.png" width="22px" height="16px"
             style="padding-left: 5px"/>
      </div>
      <div>
        <img src="img/table-line/table-line-date-icon.png" width="22px" height="22px"/>
        <span>起始日期</span>
      </div>
      <div style="margin-left: 26%">
        <img src="img/table-line/table-line-date-icon.png" width="22px" height="22px"/>
        <span>终止日期</span>
      </div>
      <br/>
      <div id="start" class="select" style="background-color: white;" ng-click="selectTime1()">
        <input type="button" value={{startTime}}>
        <img src="img/table-line/arrow-down.png" width="22px" height="16px"
             style="padding-left: 5px"/>
      </div>
      <div id="end" class="not-select" disabled="disabled" style="margin-left: 9%;background-color: white;" ng-click="selectTime2()">
        <input type="button" value={{endTime}} style="color: grey;">
        <img src="img/table-line/arrow-down.png" width="22px" height="16px"
             style="padding-left: 5px"/>
      </div>
      <p style="margin:auto;color: white;
              background-color: #108578;margin-top: 15px;
              font-size: 15px;text-align:center;border-radius: 5px;
              padding:10px;width: 85%"
         ng-click="selectComplete()">确认</p>
    </div>
    <div>
      <img src="img/table-line/chart-title-icon.png" style="position: relative;top: 10px;" width="35px" height="35px"/>
      <span style="color: #108578;font-size: 20px;font-weight: bold">{{chartTitle}}</span>
    </div>
    <div id="lineChart" style="width: 100%;height: 320px;"></div>
  </ion-content>
  <script id="barn-popover.html" type="text/ng-template">
    <ion-popover-view style="width:150px;margin-top: 5px;margin-left: 15px;height: 200px">
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="item in barns"
                    ng-click="selectBarn($index)">{{item.barnName}}</ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
  </script>
  <script id="chart-popover.html" type="text/ng-template">
    <ion-popover-view style="width:100px;margin-top: 5px;margin-left: 15px;height: 150px">
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="item in charts"
                    ng-click="selectChart($index)">{{item}}</ion-item>
        </ion-list>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
